<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>
                    Explore the world with our travel platform. Find, list, and manage travel opportunities easily.
                </p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/listing" class="text-light">Home</a></li>
                    <li><a href="/listing/new" class="text-light">Add Listing</a></li>
                    <li><a href="/about" class="text-light">About</a></li>
                    <li><a href="/contact" class="text-light">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-center">
                <h5>Follow Us</h5>
                <div class="social-icons">
                    <a href="#" class="text-light me-3"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="text-light me-3"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="text-light me-3"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="text-light"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <p class="mb-0">&copy; <%= new Date().getFullYear() %> Travel Platform. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>