<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
        <div class="logo-container">
            <a class="logo" href="/listing">
                <img src="/images/logo.webp" alt="Logo" width="120" />
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/listing">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listing/new">Add your Home</a>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link" href="/explore">Explore</a> -->
                </li>
            </ul>
            <div class="search">
                <input type="text" class="form-control" placeholder="Location">
                <button class="btn btn-secondary" type="button">
                    <i class="fa fa-search">Search </i>
                </button>
              </div>
            </form>
            <div class="dropdown">
                <a
                    class="btn btn-light dropdown-toggle"
                    href="#"
                    role="button"
                    id="dropdownMenuLink"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    <i class="bi bi-person-circle">Profile</i> 
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                    <li class="list"><a class="dropdown-item" href="/profile">Your Profile</a></li>
                    <% if (!currentUser) { %>
                    <li class="list"><a class="dropdown-item" href="/login">Login</a></li>
                    <li class="list"><a class="dropdown-item" href="/signup">Signup</a></li>
                    <%}%>
                    <% if (currentUser) { %>
                    <li class="list"><a class="dropdown-item" href="/logout">Logout</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</nav>
